<div class="container">
  <h1>Your Tasks</h1>
  <br>
  <ul>
    <% @tasks.each do |task| %>
      <% if task.completed? %>
        <div>
          <i class="far fa-check-square"></i>
          <span> <%= link_to task.title, task_path(task) %></span>
          <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      <% else %>
        <div>
          <i class="far fa-square"></i>
          <span> <%= link_to task.title, task_path(task) %></span>
          <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </ul>
  <div>
    <br>
    <div>
      <i class="fas fa-plus"></i>
      <span> <%= link_to "Add a new task", new_task_path %>
      </span>
    </div>
  </div>
</div>
